body {
    font-family: sans-serif;
    background-color: white;
}

header {
    justify-content: space-between;
    padding: ;
    margin-bottom: 20px;
}

.button {
    background-color: #36bbce;
    color: black;
    text-decoration: none;
    padding: 15px;
    font-size: 24px;
    border-radius: 10px;
}

nav {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
    padding: 25px 100px 25px 95px;
    justify-content: space-between;
}

.nav-link {
    font-size: 24px;
    color: black;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: black;
    font-size: 36px;
    margin-top: ;
    margin-bottom: ;
}

p {
    font-size: 24px;
}

.info {
    flex-wrap: wrap;
    width: 1100px;
    margin: 0px;
    display: flex;
}

article {
    width: 400px;
    padding: 10px;
    height: 440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 3px double gold;
    border-left: 3px double gold;
    border-bottom: 3px double gold;
    border-top: 3px double gold;
    background-color: palevioletred;
}

.article-but {
    text-decoration: none;
    background-color: lightgreen;
    color: black;
    font-size: 24px;
    text-align: center;
    padding: 10px 75px 10px 75px;

}

footer {
    background-color: white;
    padding: ;
}

footer a {
    margin-right: ;
}

footer p {
    font-size: 24px;
}

nav a {
    border: 3px double gold;
    background-color: palevioletred;
    border-radius: 10px;
    margin: 2px;
}

 .barsik{
     text-align: center;
     background-color: red;
    font-size: 30px;
 }
